<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Достопримечательности</title>
	<link rel="stylesheet" href="/media/css/altrone.css">
	<link rel="stylesheet" href="/media/css/icons.css">
	<link rel="stylesheet" href="/media/css/common.css">
	<script src="/media/js/jquery.js"></script>
	<script src="/media/js/foggy.js"></script>
	<script src="/media/js/handlebars.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUcFTiaeDzDCfuUdXSPtalvEXyKLCMJ7U&callback=initMap" defer></script>
	<script src="/media/js/common.js"></script>
	<script src="/media/js/altrone.js"></script>
</head>
<body>
	<div id="map"></div>
	<!-- <div class="overlay"></div> -->
	<div class="content">
		<div class="grid padding-top-1 padding-horizontal-1 size-fix" style="z-index: 2;">
			<div class="col-10 margin-left-1 padding-horizontal-1">
				<div class="col-12"><div class="form form--fit padding-horizontal-0 form--no-smooth"><input type="text" placeholder="Поиск..." class="shadow-1 margin-0 search-icon" id="searchField"></div></div>
				<div class="search_field shadow-1 size-fix">					
				</div>
				<div class="col-12 padding-vertical-1">
					<div class="card margin-0 margin-top-1 card--no-smooth shadow-1">
						<div class="card__content padding-0">
							<div class="taskbar">
								<div class="taskbar__item violet-bg taskbar__item--no-hover white-fg" style="display: none;" id="backButton"><i class="icon-action-undo"></i></div>
								<div class="taskbar__item taskbar__item--hover-color-violet" id="refreshButton"><i class="icon-reload"></i></div>
								<div class="taskbar__item" style="display: none;" id="searchResultsTab">Результаты поиска: <span></span><i class="icon-close margin-left-1"></i></div>
							</div>
							<div class="card-content" id="cardContent">
								<div class="image align-center padding-vertical-2">
									<img src="http://cliparts.co/cliparts/6ir/oGg/6iroGgoBT.png" alt="" class="img--circle" style="width: 150px; height: auto;">
								</div>								
								<h2 class="helvetica-ultra align-center">Выберите страну</h2>
								<p class="m-gray-fg align-center margin-horizontal-2 padding-bottom-3">Введите название страны, чтобы посмотреть ее достопримечательности.</p>
								<!-- <div class="sights-list">
									<div class="sights-list__item">
										<div class="sights-list__item__title">Карлов мост</div>
										<div class="sights-list__item__content">Чехия, Прага</div>
									</div>
									<div class="sights-list__item">
										<div class="sights-list__item__title">Кремль</div>
										<div class="sights-list__item__content">Россия, Москва</div>
									</div>
									<div class="sights-list__item">
										<div class="sights-list__item__title">Статуя свободы</div>
										<div class="sights-list__item__content">США, Нью-Йорк</div>
									</div>
								</div> -->
							</div>							
						</div>
					</div>
				</div>				
			</div>			
		</div>
	</div>

{% verbatim %}
	<script type="text/html" id="sightsListTemplate">
		<div class="sights-list">
		{{#each this}}
			<div class="sights-list__item" data-array-id="{{array-id}}">
				<div class="sights-list__item__title">{{title}}</div>
				<div class="sights-list__item__content">{{category}}{{#if city}}, {{city}}{{/if}}</div>
				<div class="rating {{color}}">{{rating}}</div>
			</div>
		{{/each}}
		</div>
	</script>

	<script type="text/html" id="sightDetailTemplate">
		<div class="carousel carousel--invert">
			{{#each images}}
			<div class="carousel__item">
				<img src="{{this}}" alt="">
				<div class="carousel__item__text">{{../title}}</div>
			</div>			
			{{/each}}
		</div>
		<div class="padding-2">
			<h1 class="helvetica-ultra margin-bottom-05">{{title}}</h1>
			<div class="grid">
				<div class="col-9">
					<p class="m-gray-fg"><i class="icon-pointer padding-right-1"></i>{{#if city}}{{city}}, {{/if}}{{country}}</p>
				</div>
				<div class="col-3 align-right">
					<p class="{{color}}-fg"><i class="icon-star padding-right-1"></i>{{rating}}</p>
				</div>
			</div>
			
			{{{description}}}
			<div class="align-center"><button class="button--color-blue button--rounded button--only-borders">Подробнее</button></div>
		</div>		
	</script>

	<script type="text/html" id="citiesListTemplate">
		<button class="button--only-borders button--size-small button--color-green button--rounded" data-city-url="{{url}}" data-city-country-id="{{id}}">Все</button>
		{{#each cities}}
		<button class="button--only-borders button--size-small button--color-blue button--rounded" data-city-url="{{url}}" data-city-country-id="{{country}}" data->{{title}}</button>
		{{/each}}
	</script>

	<script type="text/html" id="searchFieldTemplate">
		<div class="list list--image list--color-purple">
		{{#each this}}
			<div class="list__item" data-country-id="{{id}}">
				<img src="{{icon}}" alt="">{{title}}
			</div>
		{{/each}}
		</div>		
	</script>
{% endverbatim %}
</body>
</html>